<%- model_class = DetailOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:order_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:song_id) %></th>
      <th><%= model_class.human_attribute_name(:cntProd) %></th>
      <th><%= model_class.human_attribute_name(:subtotal) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @detail_orders.each do |detail_order| %>
      <tr>
        <td><%= link_to detail_order.id, detail_order_path(detail_order) %></td>
        <td><%= detail_order.order_id %></td>
        <td><%= detail_order.product_id %></td>
        <td><%= detail_order.song_id %></td>
        <td><%= detail_order.cntProd %></td>
        <td><%= detail_order.subtotal %></td>
        <td><%=l detail_order.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_detail_order_path(detail_order), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      detail_order_path(detail_order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_detail_order_path,
            :class => 'btn btn-primary' %>
