<%- model_class = Incident -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>      
        <th><%= model_class.human_attribute_name(:logged_at) %></th>      
        <th><%= model_class.human_attribute_name(:id) %></th>      
        <th><%= model_class.human_attribute_name(:target) %></th>      
        <th><%= model_class.human_attribute_name(:message) %></th>          
    </tr>  
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
      <tr>        
        <td><%= incident.created_at %></td>        
        <td><%= incident.id %></td>        
        <td><%= incident.target %></td>        
        <td><%= incident.message %></td>      
      </tr>    
    <% end %>
  </tbody>
</table>

<%= link_to 'Clear Log', incidents_path, method: :delete, class: 'btn btn-primary' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_incident_path,
            :class => 'btn btn-primary' %>
